.encabezado__container {    
    background: var(--negro);
    width: 100%;
    padding: 40px 0;
}

.encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 60px;
}

.encabezado__logo--icono {
    max-width: 260px;
}


.encabezado__navegacion--lista {
    display: flex;
    color: white;
    gap: 40px;
    list-style-type: none;
}



.encabezado__navegacion--elemento a {

    color: var(--blanco);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.banner__img {
    max-width: 100%;
}

.banner__descripcion {
    max-width: 1200px;
    color: var(--grafito, #222);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 110px auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.ofertas {
    margin-bottom: 112px;
}

.testimonios__titulo,
.pago__titulo,
.destinos__titulo,
.busca__titulo,
.ofertas__titulo {
    color: var(--grafito);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-bottom: 64px;
}

.testimonios__titulo--subrayado,
.pago__titulo--subrayado,
.destinos__titulo--subrayado,
.busca__titulo--subrayado,
.ofertas__titulo--subrayado {
    width: 180px;
    height: 4px;
    background: var(--rojo);
    margin: 0 auto;
    margin-top: 16px;
}

img {
    max-width: 100%;
}

.ofertas__cards--grupo {
    display: flex;
    gap: 24px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.ofertas__cards--elemento {
    display: flex;
    padding: 24px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 16px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 24px 32px;
    color: var(--blanco);
    flex: 1 0 calc(50% - 48px);
    box-sizing: border-box;
    text-align: center;
}

.ofertas__cards--japon {
    background-image: url("./img/tokyo.png");
}

.ofertas__cards--san-andreas {
    background-image: url("./img/san-andreas.png");
}



.ofertas__card--destino-tipo {
    color: var(--blanco);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 8px;
}

.ofertas__card--destino-nombre {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
   

    
}

.ofertas__card--precio {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;

}

.destinos__elemento--boton,
.ofertas__card--boton {
    border-radius: 8px;
    background: var(--rojo, #B81515);
    padding: 16px 48px;
    box-sizing: border-box;
    display: inline-block;
}

.destinos__elemento--boton-texto,
.ofertas__card--boton-texto {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    color: var(--blanco, #FFF);
}

.busca__categorias {
    display: flex;
    align-items: stretch;
    gap: 24px;
    margin-bottom: 112px;
}

.busca__categoria {
    color: var(--grafito, #222);
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 8px;
    background: var(--gris-claro, #F5F5F5);
    padding: 24px 16px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

span.material-symbols-outlined {
    color: var(--gris-oscuro, #8C8C8C);
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.destinos__lista {
    display: flex;
    align-items: stretch;
    gap: 24px;
    margin-bottom: 112px;
}

.destinos__elemento {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.destinos__elemento--image {
    max-width: 100%;
}

.destinos__elemento--nombre {
    color: var(--grafito, #222);
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 24px 0;
}

.destinos__elemento--descripcion {
    color: var(--grafito, #222);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 24px;
}

.pago {
    margin-bottom: 112px;
}

.pago__imagenes--grupo,
.pago__condiciones {
    display: flex;
    gap: 24px;
}

.pago__condiciones--destaque {
    color: var(--grafito, #222);
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 24px;
}

.pago__condiciones--detalles {
    color: var(--grafito, #222);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    width: 384px;
    max-width: 100%;
}

.pago__imagenes--imagen-container {
    flex: 1;
}

.pago__imagenes--imagen-destaque {
    margin-top: 20px;
}

.pago__imagenes--imagen {
    max-width: 100%;
}

.testimonios {
    margin-bottom: 112px;
}

.testimonios__wrapper {
    display: flex;
    gap: 24px;
    align-items: stretch;
}

.testimonios__elemento {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.testimonios__texto {
    color: var(--grafito, #222);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.testimonios__autor {
    margin-top: 12px;
    display: flex;
    gap: 24px;
}

.testimonios__autor--foto {
    max-width: 86px;
}

.testimonios__autor--nombre {
    color: var(--grafito, #222);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 8px;
}

.footer__container {
    background: var(--negro);
    width: 100%;
    padding: 40px 0;
    margin-top: -4px;
}

.footer {
    justify-content: space-between;
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    color: var(--blanco, #FFF);
}

.footer__logo-icon {
    max-width: 160px;
    margin-bottom: 16px;
}

.footer__info-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__text-info {
    color: var(--neutral-c, #F5F5F5);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
}

.footer__social-media-container {
    text-align: center;
}

.footer__social-media-text {
    color: var(--neutral-c, #F5F5F5);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 16px;
}
